@charset "utf-8";
/*common*/
.condolence {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
_filter:none;
}
.layout{
	width:1000px;
	margin:0 auto;
}
.wrap{
	width:100%;
	margin:0 auto;
	background:#fff url(../img/body-bg.png) no-repeat center top;
}
.top-left li a,.logo,.moto,.hd-search,#search-sbt,
#banner .pre,#banner .next{background:url(../img/icon.png) no-repeat;}
.moto2{background:url(../img/icon2.png) no-repeat;}
/*anniversary*/
.anniversary{
	width:100%;
	margin:0 auto;
	background:url(../img/xq-bg.png) repeat-x;
	height:320px;
	overflow:hidden;
}
.anniversary .layout{display:block;}
.slider {display:none;position:relative;text-align:center;line-height:0em;}
.slider .sldbtn{line-height:2em;cursor: pointer;}
/*top*/
#top{
	position:relative;
	z-index:10;
	width:100%;
	height:43px;
	background:url(../img/bg.png) repeat-x;
	line-height:40px;
}
#top ul{display:block;}
.top-left li{
	display:inline;
	float:left;
	position:relative;
	margin-right:40px;
	z-index:999;
}
.top-left li a{
	float:left;
	border:1px solid transparent;
	border:none;
	display:block;
	height:40px;
	padding-left:32px;
	padding-right:10px;
	background-position:10px 12px;
	font:normal 14px/38px "微软雅黑",yahei;
	z-index:100;
	color:#444;
}

.top-left li.mana a{ background-position: 10px -30px;}
.top-left li.serv a{ background-position: 10px -74px;}
.top-left li.info a{ background-position: 10px -123px;}
.top-left li.enquiry a{ background-position: 10px -170px;}
.top-right li{
	float:left;
	display:inline;
}
.top-right li.line{
	width:0px;
	height:12px;
	overflow:hidden;
	border-left:1px solid #989898;
	margin:15px 10px;
}
.top-left li.current{
	background:#f9f9f9;
}
.top-left li.current a{
	position:relative;
	z-index:10px;
	border:1px solid #cdcdcd;
	border-bottom-color:#f9f9f9;
}
.top-left .sub-nav{
	position:absolute;
	top:41px;
	left:0px;
	border:1px solid #cdcdcd;
	background:#f9f9f9;
	width:500px;
	padding:10px;
	z-index:99;
}
.top-left .sub-nav li{
	width:250px;
	height:35px;
	llline-height: 28px;
	margin:0px;
	float:left;
	position:relative;
}
.top-left .jg li{width:500px;height:22px;}
.top-left .sub-nav li span.dept{position:absolute;background: url(../img/gray-dot.png) no-repeat 0px 6px;padding-left: 8px;line-height:18px;}
.top-left .jg li span.dept{position:relative;top:0px;}
.top-left .sub-nav li span.dept a{float:none;}
.top-left .sub-nav li span.dept2{position:absolute;top:18px;color:#095d9c;font:14px/16px 微软雅黑;padding-left:4px}
.top-left .sub-nav li span.dept2 a{font:14px/16px 微软雅黑;float:none}
.top-left .jg li span.dept2{position:relative;top:0px;font-size:14px}

.top-left .sub-nav li a{
	padding:0;
	margin:0;
	border:none;
	background:none;
	width:auto;
	float:left;
	display:inline;
	height:18px;
	line-height:18px;
	white-space:nowrap;
	color:#095d9c;
	padding:0px;
}

/*header*/
#header{
	width:100%;
	height:89px;
	padding-top:8px;
	overflow:hidden;
	background:url(../img/bg.png) repeat-x 0 -43px;
}

.header-right li{
	float:left;
	display:inline;
}
.header-right li.line{
	width:0px;
	height:12px;
	overflow:hidden;
	border-left:1px solid #989898;
	margin:6px 10px;
}
.logo{
	display:block;
	width:82px;
	height:80px;
	margin-right:10px;
	overflow:hidden;
	text-indent:-999px;
	background-position:0 -380px;
}
.moto{
	width:700px;
	height:80px;
	overflow:hidden;
	background-position:0 -290px;
	text-indent:-999px;
}

.moto2{
	width:700px;
	height:80px;
	overflow:hidden;
	background-position:0 -290px;
	text-indent:-999px;
}

.hd-search{
	height:33px;
	width:195px;
	padding-left:45px;
	overflow:hidden;
	margin-top:23px;
	line-height:33px;
	background-position:0 -228px;
}
.hd-search input{
	display:block;
	float:left;
	height:33px;
	overflow:hidden;
	border:none;
	background:#FAFAFA;
}
#search-ipt{
	width:160px;
	height:30px;
	line-height:30px;
	margin-top:2px;
	color:#666;
}
#search-sbt{
	width:35px;
	background-position:-205px -228px;
	text-indent:-99px;
	cursor:pointer;
}
/*nav*/
#nav{
	position:relative;
	z-index:8;
	width:100%;
	height:36px;
	padding-top:3px;
	background:url(../img/bg.png) repeat-x 0 -140px;
}
#nav li{
	position:relative;
	float:left;
	display:inline;
	height:36px;
	font:normal 14px/36px Verdana, Geneva, sans-serif;
}
#nav li a{
	display:block;
	float:left;
	width:88px;
	height:36px;
	overflow:hidden;
	text-align:center;
	color:white;
}
#nav li.line{
	background:url(../img/nav-line.png) no-repeat;
	width:1px;
	height:12px;
	overflow:hidden;
	margin:12px 0;
}

#nav li .sub-nav{
	/* display: block;
	position:absolute;
	top:35px;
	left:0;
	background:rgba(0,97,170,0.7);
	_background:rgb(0,97,170);
	z-index:100; */
	display: block;
	position:absolute;
	top:35px;
	left:0;
	background:rgba(0,97,170,0.7);
	background/*\**/:rgb(0,97,170)\9;
	z-index:100;
}
#nav li .sub-nav li{
	float:none;
}

#nav li .sub-nav a{float:none;}
#nav li .sub-nav a:hover{
	background:#CDE0EE;
	color:#0061aa;
}



/*banner*/
#banner{
	position:relative;
	width:100%;
	height:300px;
	overflow:hidden;
	background:url(../img/bg.png) repeat-x 0 -179px;
}
#banner .pre,#banner .next{
	position:absolute;
	top:175px;
	width:18px;
	height:58px;
	overflow:hidden;
	z-index:99;
}
#banner .pre{background-position:0 -820px; left:20px;}
#banner .next{background-position:-19px -820px; right:20px;}
/* #banner li{
	text-align:center;
	width:100%;
	height:405px;
	overflow:hidden;
	float:left;
} */

/*main*/
#main{
	width:100%;
	height:315px;
	_height:315px;
	overflow:hidden;
	background:#E8e8e8;
}
.main-left{
	width:295px;
	height:405px;
	padding: 20px 10px 10px 0;
	background:url(../img/news-bg.png) no-repeat top right;
}
.main-nav{
	margin-bottom:8px;
}
.main-nav li{
	background:#9a9a9a;
	float:left;
	display:inline;
	width:70px;
	height:27px;
	margin-right:10px;
	font:normal 14px/27px Verdana, Geneva, sans-serif;
	text-align:center;
}
.main-nav li a{color:#fff;}
.main-nav li.current{ background:#327ab0;}
.notice-list{
	display:block;
	height:220px;
	 _height:315px; 
	overflow:hidden;
	position:relative;
	/* list-style: square inside url('../img/black-dot.png');
	_list-style:none inside none; */
	
}
.notice-list li{
	height:auto;
	line-height:27px;
	font-size:14px;
	text-indent: 6px;
	background:url('../img/black-dot.png') no-repeat 0 12px;
}
.notice-list span{color:#666;width:95%;display:block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.news-list{
	display:block;
	height:330px;
	_height:305px;
	overflow:hidden;
	/* list-style: square inside url('../img/black-dot.png');
	_list-style:none inside none; */
	
}
.news-list li{
	height:27px;
	overflow:hidden;
	line-height:27px;
	font-size:14px;
	text-indent: 10px;
	background:url('../img/black-dot.png') no-repeat 0 15px;
}
.main-left .more{
	padding-top:6px;
	font-size:12px; 
}

/*中*/
.main-mid{
	width:495px;
	padding:20px 10px;
	height:405px;
	overflow:hidden;
}
.img-news{
	position:relative;
	width:400px;
	height:75px;
	overflow:hidden;
	margin-bottom:10px;
}
.img-news .img{
	display:block;
	width:100px;
	height:75px;
	overflow:hidden;
}
.img-news .intro{
	width:290px;
	height:75px;
	overflow:hidden;
}
.img-news h2{
	width:290px;
	height:22px;
	font-weight: 700;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align:center;
}
.img-news p{
	height:52px;
	width:100%;
	overflow:hidden;
	line-height: 17px;
	color:#666;
}
.img-news .more{
	position:absolute;
	bottom:0px;
	right:0;
	line-height:15px;
	color:#444;
background:#e8e8e8;display:block;padding:4px 4px 4px 12px
}

.news-list span{
	padding-left:10px;
	color:#666;
}
.news-list span.time{color:#999;font-size:12px;}
/*右*/
.main-right{
	width:160px;
	height:405px;
	overflow:hidden;
	padding:20px 0;
}
.mt10{ margin-top:10px;}
.mt5{ margin-top:5px;}
.right-shortcut li{
	float:left;
	display:inline;
	width:70px;
	border-right:1px solid #ccc;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#666;
	margin-right:5px;
	margin-bottom:5px;
	background:url(../img/icon.png) no-repeat 0 -750px;
}

.right-shortcut li.weibo{
	text-indent: 32px;
	text-align: left;
	background:url(../img/icon.png) no-repeat -80px -750px;
}
.right-shortcut a{color:#444;}
.topic{
	display:block;
	width:255px;
	overflow:hidden;
}

/*底部导航*/
.bot-nav{
	width:100%;
	background:#f9f9f9;
	padding-top:10px;
}
.second-nav{
	width:100%;
	height:36px;
	line-height: 36px;
	text-align: center;
	background: url(../img/body-bg.png) repeat-x 0 -179px;
padding:4px 0px 0px
}
.second-nav a{vertical-align: top;}
.bot-nav dl{
	display:block;
	width:80px;
	margin-right:10px;
}
.bot-nav dl.last{ margin-right:0;}
.bot-nav dt{
	background:url(../img/icon.png) no-repeat;
	height:30px;
	margin-bottom:10px;
	padding-left:30px;
	font: 12px/30px "微软雅黑",yahei;
	color:#555;

}
.bot-nav dd{
	line-height:25px;
	text-indent:10px;
	/* background:url(../img/gray-dot.png) left center no-repeat; */
}
.bot-nav dd a{color:#777;}
.bot-nav .examinee dt,.bot-nav .guest dt{ background-position:0 -475px;}
.bot-nav .student dt{ background-position:0 -523px; padding-left:35px;}
.bot-nav .teacher dt{ background-position:0 -565px;}
.bot-nav .company dt{ background-position:0 -612px; padding-left:25px;}
.bot-nav .brother dt,.bot-nav .alumni dt{ background-position:0 -655px;}
.bot-nav .media dt{ background-position:0 -703px;}
.bot-nav .wei li{float:right;margin-left:8px}
.bot-nav .wei span{text-align: left;;display:inline-block;width:32px;height:32px}
.bot-nav .weibo{background: url(../img/weibo.png) left center no-repeat; height:24px; display: inline-block; line-height: 24px; padding-left:30px; text-align: left;}
.bot-nav .qqweibo{background: url(../img/qqweibo.png) left center no-repeat; height:24px; display: inline-block; line-height: 24px; padding-left:30px; text-align: left;}
.bot-nav .weixin{background: url(../img/weixin.png) left center no-repeat; height:24px; display: inline-block; line-height: 24px; padding-left: 30px;text-align: left;}

.listbody{width: 100%; background: #fff;padding:10px 0px;}
.mainleft{
	width:250px;
	height: auto;
	background: #e7eff5;
	display: inline-block;
	padding-bottom: 20px;
	float: left;
}
.mainleft .catheader{
	height:45px;
	background: #0061aa;
	line-height: 45px; 
	text-align: center;
	color:#fff;
	font-size:14px;
	font-weight:700;
}
.mainleft .catlist{height:auto;padding-left: 20px;padding-top: 10px; padding-right: 20px;}
.mainleft .catlist ul li{ height:36px;line-height: 36px; font-size:14px; border-bottom: 1px dashed #aecbe0;background: url(../img/icon.png) -558px -54px no-repeat; padding-left: 18px;}
.mainleft .catlist ul li.hover{background: url(../img/icon.png) -558px 2px no-repeat;}
.mainleft .catlist ul li.hover a{color:#095d9c;}
.mainleft .catlist ul li.at{background: url(../img/icon.png) -558px -24px no-repeat;}
.mainleft .catlist ul li a{text-decoration: none; }
.mainleft .catlist ul li.at a{color:#095d9c;font-weight:bold;}

.mainright{width:745px;margin-left:5px; float: left;}
.position{color: #999; height:34px; line-height: 34px; text-indent: 10px; text-align: right;}
.position a{color:#333;}
.newslist{padding: 10px;}
.newslist ul li{height:32px; line-height: 32px; background: url(../img/gray-dot.png) left center no-repeat; padding-left: 8px; font-size:14px; border-bottom: 1px dashed #ddd; }
.newslist ul li .time{float: right; font-size:12px;color: #888;}
.newslist ul li a{text-decoration: none;}
.newslist ul li a:hover{color:#095d9c;}


.deptls ul li{border-bottom:0px;position: relative;width: 48%;float: left;/*height: 58px*/;border-bottom: 1px dotted #ccc;background: url(../img/gray-dot.png) 0px 16px no-repeat;line-height: 32px;padding-left: 8px;font-size: 14px;}
.deptls ul li span.Dept{/*position: absolute;*/}
.deptls ul li span.Dept2{/*position: absolute;left:320px;*/top:24px;font-size:12px;/*display;block*/}

.cont_title{margin-top:10px;text-align: center; font-size: 24px; line-height: 180%; font-weight:bold;}
.cont_title2{width:745px;height:45px;background:#0061aa; font-size: 16px; line-height:45px; font-weight:bold; color:#fff;text-indent: 10px;}
.cont_title p{margin-left:20px}
.cont_desc{text-align: right; color: #888; line-height: 30px;}
.cont_content{line-height: 200%;font-size:14px;padding:0px 10px;}
.cont_content table{table-layput:fixed;word-wrap:break-wrod;word-break:break-all; }
.cont_content table td{padding:4px;}

.grzx{width:725px;height:72px;background:#e7eff5;margin-top:10px}
.grz{font-size:16px;font-family:微软雅黑;float:left;margin-left:20px}
.grnr{width:550px;height:auto;margin-left:140px}
.nrx{width:127px;height:auto;float:left;margin-left:10px;
	line-height:36px;text-align:center}
.nrx a{font-size:13px}

.xiaoyou{width:725px;height:auto;background:#e7eff5;margin-top:10px;padding:4px;}
/*footer*/
#footer{
	width:100%;
	padding:10px 0;
	color:#fff;
	background:#0061aa;
}
#footer a{
	color:#fff;
}
/*CSS page style pagination*/
.page {
  PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px;
}
.page A {
  BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #036cb4; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid; TEXT-DECORATION: none
}
.page A:hover {
  BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.page A:active {
  BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.page .current {
  BORDER-RIGHT: #036cb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #036cb4 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #036cb4 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #036cb4 1px solid; BACKGROUND-COLOR: #036cb4
}
.page .disabled {
  BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid
}

/* 顶部广告关闭按钮 */
.gg_fclose {
	POSITION: absolute; WIDTH: 19px; HEIGHT: 55px; TOP: 30px; right: 100px;
	BACKGROUND: url(../img/gg_btn.png) no-repeat -19px 0px;
}
.gg_fclose A {
	DISPLAY: block; BACKGROUND: url(../img/gg_btn.png) no-repeat 0px 0px; HEIGHT: 55px; OVERFLOW: hidden
}
/*广告*/
.ads{display: block; overflow: hidden; z-index: 10000; position: fixed;_position:absolute;-moz-user-select:none;} 
.ads .close{border:#ccc solid 1px;background:#fafaf0;color:#333;text-align:center;line-height: 14px;cursor:default}

.tb_xrld td{padding:2px 25px!important;text-align:center;font-size:16px;}
.tb_xrld td a{color:#095d9c;font-weight: 700;}

/*纠错*/
.jcbutton{width:106px;height:24px;background:url(../img/jiucuo.png) no-repeat;}
.jcbutton .open{width:73px;height:24px;cursor:pointer;float:left;}
.jcbutton .close{width:20px;height:24px;cursor:pointer;float:right;margin-right:3px;}

.jcbox{width:500px;height:400px;display:none;border:1px solid #666;background:#fff;}
.jcbox .ttt{height:24px;background:#eeeeee;font-size:12px; color:#333;font-weight:bold;line-height:24px;text-indent:6px;}
.jcbox .ttt  .l{width:200px;float:left;}
.jcbox .ttt .close{width:20px;height:24px;cursor:pointer;float:right;background:url(../img/close.png) no-repeat center center;}
.jcbox  .t{text-align:left;font-size:12px;font-weight:bold;padding:10px;}
.jcbox   fieldset{margin:0 10px;padding:10px;font-size:12px; line-height:180%;width:450px;}
.jcbox   fieldset .textarea{width:430px;height:80px;border:0px;}
.jcbox  .c{font-size:12px;padding:0px 10px;}
.jcbox  .c  .textarea{width:460px;height:80px;}
.jcbox  .d{padding:10px;}

.slideBox{ width:1000px; height:300px; overflow:hidden; position:relative; margin: auto;  } 
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:10px; bottom:10px; z-index:1; } 
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  } 
.slideBox .hd ul li{ float:left; margin-right:5px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer;} 
.slideBox .hd ul li.on{ background:#0061aa; color:#fff; } 
.slideBox .bd{ position:relative; height:100%; z-index:0;   } 
.slideBox .bd img{ width:1000px; height:300px; } 

.identty{margin:10px 0px 40px 20px;background:#e7eff5}
.identty tr{border-bottom: 12px solid #fff;}
.identty td.l{width:120px;border-left:3px solid #AE0C2A;text-align:center;font-weight:bold}
.identty span{display:inline-block;width:120px;border-right:1px solid #ccc;margin:6px 0px;text-align:center;line-height:16px}





