body{
	background: #fcfcfc url(images/light_grunge.jpg) repeat;
	font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
	padding:0;
	margin:0;
}
/* logo */
#logo{
	width:100%;
	height:80px;
	background: transparent url(images/check_strip.png) repeat-x 0px -15px;
	font-size:45px;
	color:#feefff;
	text-align:center;
	border-radius:2px;
}
#logo_right{
	width:15%;
	font-size:15px;
	position:absolute;
	top:15px;
	right:10px;
}
.login_out_icon{
	background:url(icon/icon-top-quite.png) no-repeat;
	width:14px;
	height:14px;
	vertical-align: middle;
	margin-top:1px;
	padding:1px 10px;
}
#logo_right a{
	text-decoration:none;
	color:white;
}
.modifypwd:hover{
	cursor: pointer;	
}
/* 左侧导航栏 */
.card-holder {  
  position: fixed;
  width: 0px;
  overflow: visible;
  margin-top: 50px;
}

.card-wrapper {
  display: inline-block;
  float: right;
  clear: both;
}

.card {
  position: relative;
  left: 32px;
  padding: 16px 32px 16px 64px;
  margin: 8px;  
  x-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
  background: #fff;
  transition: all 0.3s ease-in-out 0.1s;
}

.card:hover {
  position: relative;
  left: 100%;
  margin-left: -32px;
  box-shadow: 
    0 -8px 8px -8px rgba(0, 0, 0, 0.5),
    0 8px 8px -8px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.card-content {
  display: inline-block;
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

.bg-01 { background: #539770; }
.bg-02 { background: #4B7D74; }
.bg-03 { background: #8DC2BC; }
.bg-04 { background: #EDD6B4; }
.bg-05 { background: #BE7467; }
.bg-06 { background: #E2AE63; }

.card_hover{
	cursor:pointer;
}

/* main_div */
#main_div{
	width:80%;
	height:500px;
	margin:0 auto;
	background-color:#F7EED6;
	margin-top:20px;
	border-radius:8px;
}