<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<!-- 容器对于web.xml的加载过程：context-param >> listener  >> fileter  >> servlet -->
	
	<!-- 项目欢迎页 -->
	<welcome-file-list>  
        <welcome-file>/WEB-INF/view/login.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- 读取spring配置文件 -->
    <context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    
    <!-- 设置根目录 -->
    <context-param>
    	<param-name>webAppRootKey</param-name>
    	<param-value>Rpt.root</param-value>
    </context-param>
    
    <context-param>
    	<param-name>log4jConfigLocation</param-name>
    	<param-value>classpath:properties/log4j.properties</param-value>
    </context-param>
    
    <!-- 配置springmvc -->
    <servlet>
    	<servlet-name>springmvc</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	<init-param>
	  		<param-name>contextConfigLocation</param-name>
	  		<param-value>classpath:applicationContext.xml</param-value>
	  	</init-param>
    	<load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
    	<servlet-name>springmvc</servlet-name>
    	<url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <!-- 3000表示 开一条watchdog线程每60秒扫描一下配置文件的变化;这样便于日志存放位置的改变 -->  
	<context-param>    
        <param-name>log4jRefreshInterval</param-name>    
        <param-value>3000</param-value>    
    </context-param>
    
	<listener>  
	    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>  
	</listener>
</web-app>